<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.yayandroid.componentdispatcher.sample"
    xmlns:android="http://schemas.android.com/apk/res/android" >

    <application
        android:name=".SampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="@string/component_generator_list"
            android:resource="@array/component_generators" />

        <meta-data android:name="@string/component_generator_core"
            android:value=".SomeComponentGenerator" />

        <meta-data android:name="@string/component_generator_feature1"
            android:value=".SomeComponentGenerator2" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>